* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* colors */
    --pink: #674bb1;
    --white: #ffffff;
    --activePink: #e980e7;
    --activeSocialMediaIcon: #f752bf;
    --btnShadowColor: #583186;


    /* fonts */

    --OpenSans: 'Open Sans', sans-serif;

    --Poppins: 'Poppins', sans-serif;
}

body {
    max-height: 1440px;
    display: flex;
    flex-direction: column;
   
    
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--pink);
    margin: 40px;
    
    color: var(--white);

}

.main-wrapper {

}






header {
   display: flex;
flex-direction: column;

    
}

.logo {
    width: 140px;
   margin-bottom: 70px;
}

.mockup {
    max-width: 700px;
    margin-bottom: 70px;
    
  
}

.content-wrapper {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-size: 20px;
    font-family: var(--Poppins);
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
   
}

p {
    text-align: center;
    margin-bottom: 30px;
    font-family: var(--OpenSans);
}

button {
    width: 200px;
    height: 40px;
    border-radius: 1520px;
    background-color: var(--white);
    color: var(--pink);
    border: none;
    margin-bottom: 65px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 7px 24px 0px rgba(88, 49, 134, 1);
    cursor: pointer;

}

button:hover {
    background-color: var(--activePink);
    color: var(--white);
}

footer {
    margin-right: 200px;
    width: 150px;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
   
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
    transition: border 0.3s;

}


a:hover {
    border: 2px solid var(--activeSocialMediaIcon);
}

a i {
    transition: color 0.3s;  
}

a:hover i {
    color: var(--activeSocialMediaIcon) !important;
  }


/* media queries  */

@media only screen and (min-width: 800px) {

  body {
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
   
  }

  .main-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  main {
    align-items: flex-start;
  }

  header {
   width: 50%;
     
 }

 .content-wrapper {
    
  width: 50%;
  
  display: flex;
  align-items: center;
  margin-left: 60px;
}

h1 {
    font-size: 40px;
    text-align: left;
    padding-right: 190px;
}

p {
    text-align: left;
    padding-right: 230px;
    font-size: 16px;
    
}



  }

  